# =========================
# APPLICATION
# =========================
SPRING_PROFILES_ACTIVE=local

# =========================
# DATABASE
# =========================
DB_URL=jdbc:postgresql://localhost:5432/audit_log
DB_USERNAME=admin
DB_PASSWORD=admin_macbook
DB_POOL_MIN_IDLE=2
DB_POOL_MAX_SIZE=10

# =========================
# KAFKA
# =========================
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=audit-log-consumer
KAFKA_CONSUMER_CONCURRENCY=3

# =========================
# SERVER
# =========================
SERVER_PORT=9003

# =========================
# CENTRALIZED AUDIT CONFIG
# =========================
AUDIT_KAFKA_ENABLED=true
AUDIT_KAFKA_TOPIC=centralized-audit.requested
AUDIT_KAFKA_DLT_TOPIC=centralized-audit.requested.dlt
AUDIT_KAFKA_RETRY_INTERVAL_MS=1000
AUDIT_KAFKA_MAX_RETRIES=2
AUDIT_QUERY_MAX_RANGE=P31D
AUDIT_ERROR_ALERT_ENABLED=true
CENTRALIZED_ALERT_URL=http://localhost:9001/api/v1/alert
AUDIT_ERROR_ALERT_SENDER_EMAIL=audit-log@example.com
AUDIT_ERROR_ALERT_SENDER_NAME=Audit Log Service
AUDIT_ERROR_ALERT_RECIPIENTS=ops@example.com
AUDIT_ERROR_ALERT_AUTHORIZATION_HEADER=
AUDIT_ERROR_ALERT_TIMEOUT=PT5S

# =========================
# SHARED SDK
# =========================
APP_TIMEZONE=UTC
SDK_SECURITY_ENABLED=true
SDK_METHOD_SECURITY_ENABLED=true
SDK_CORS_ENABLED=false
OAUTH2_ISSUER_URI=http://localhost:9005
JWT_PRINCIPAL_ATTRIBUTE=username

# =========================
# LOGGING
# =========================
LOG_LEVEL_ROOT=DEBUG
LOG_LEVEL_APPLICATION=DEBUG
