SERVER_PORT=9003
SPRING_PROFILES_ACTIVE=local

DB_URL=jdbc:postgresql://localhost:5432/audit_log
DB_USERNAME=admin
DB_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
AUDIT_KAFKA_TOPIC=centralized-audit.requested
AUDIT_KAFKA_DLT_TOPIC=centralized-audit.requested.dlt
AUDIT_ERROR_ALERT_ENABLED=true
CENTRALIZED_ALERT_URL=http://localhost:9001/api/v1/alert
AUDIT_ERROR_ALERT_SENDER_EMAIL=audit-log@example.com
AUDIT_ERROR_ALERT_SENDER_NAME=Audit Log Service
AUDIT_ERROR_ALERT_RECIPIENTS=ops@example.com
AUDIT_ERROR_ALERT_AUTHORIZATION_HEADER=
AUDIT_ERROR_ALERT_TIMEOUT=PT5S

OAUTH2_ISSUER_URI=http://localhost:8080/realms/audit

APP_TIMEZONE=Asia/Jakarta
